flow.txt
[{"id":"9c1282fa.96967","type":"tab","label":"Aussenlicht","disabled":false,"info":""},{"id":"20df7eec.0427d2","type":"mqtt in","z":"9c1282fa.96967","name":"","topic":"Aussenlicht1/status","qos":"2","broker":"dd59c849.3eaa9","x":130,"y":40,"wires":[["2d75756f.23b0da","8f0716b9.263248"]]},{"id":"2d75756f.23b0da","type":"debug","z":"9c1282fa.96967","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":40,"wires":[]},{"id":"8f0716b9.263248","type":"json","z":"9c1282fa.96967","name":"","property":"payload","action":"","pretty":true,"x":214,"y":121,"wires":[["534da26a.cac96c"]]},{"id":"534da26a.cac96c","type":"split","z":"9c1282fa.96967","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":359,"y":122,"wires":[["22084a28.389ac6"]]},{"id":"22084a28.389ac6","type":"switch","z":"9c1282fa.96967","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Lamp","vt":"str"},{"t":"cont","v":"Sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":514,"y":121,"wires":[["32dd87a3.b2e778"],["52b2de18.c0101"]]},{"id":"32dd87a3.b2e778","type":"split","z":"9c1282fa.96967","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":650,"y":100,"wires":[["65fa3e72.ede49"]]},{"id":"52b2de18.c0101","type":"split","z":"9c1282fa.96967","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":690,"y":440,"wires":[["6764b5f5.9289e4"]]},{"id":"ee7d8038.c31d4","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Lamp1","serviceName":"Lightbulb","topic":"1","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":20,"wires":[["4eaebcc4.1cd0f4"]]},{"id":"65fa3e72.ede49","type":"template","z":"9c1282fa.96967","name":"JsonCTemp","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"On\":\"{{payload}}\"}","output":"json","x":810,"y":100,"wires":[["ee7d8038.c31d4","2d46a334.e75a4c","bdb40efb.77d7f","652dc264.f21abc"]]},{"id":"6764b5f5.9289e4","type":"template","z":"9c1282fa.96967","name":"JsonCTemp","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"MotionDetected\":\"{{payload}}\"}","output":"json","x":830,"y":440,"wires":[["a5344f07.dfb4b","5585fa32.312c6c","6a0d8d73.1a62fc","ba60e943.a89be8"]]},{"id":"a5344f07.dfb4b","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Sensor1","serviceName":"MotionSensor","topic":"1","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":340,"wires":[["c55e317b.b86d8"]]},{"id":"5585fa32.312c6c","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Sensor2","serviceName":"MotionSensor","topic":"2","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":400,"wires":[["c55e317b.b86d8"]]},{"id":"6a0d8d73.1a62fc","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Sensor3","serviceName":"MotionSensor","topic":"3","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":460,"wires":[["c55e317b.b86d8"]]},{"id":"ba60e943.a89be8","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Sensor4","serviceName":"MotionSensor","topic":"4","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":520,"wires":[["c55e317b.b86d8"]]},{"id":"c55e317b.b86d8","type":"debug","z":"9c1282fa.96967","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":440,"wires":[]},{"id":"4eaebcc4.1cd0f4","type":"switch","z":"9c1282fa.96967","name":"check hap.context","property":"hap.context","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":120,"wires":[["f2bab3df.30bec"]]},{"id":"668e50cd.37097","type":"debug","z":"9c1282fa.96967","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1970,"y":120,"wires":[]},{"id":"c51ee3ca.d4906","type":"change","z":"9c1282fa.96967","name":"Aussenlicht1_lampe","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.2.15/lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":120,"wires":[["435776ca.700088"]]},{"id":"435776ca.700088","type":"http request","z":"9c1282fa.96967","name":"Post","method":"POST","ret":"txt","url":"","tls":"","x":1830,"y":120,"wires":[["668e50cd.37097"]]},{"id":"f2bab3df.30bec","type":"template","z":"9c1282fa.96967","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}}:{{payload.On}}","output":"str","x":1460,"y":120,"wires":[["c51ee3ca.d4906"]]},{"id":"2d46a334.e75a4c","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Lamp2","serviceName":"Lightbulb","topic":"2","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":80,"wires":[["4eaebcc4.1cd0f4"]]},{"id":"bdb40efb.77d7f","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Lamp3","serviceName":"Lightbulb","topic":"3","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":140,"wires":[["4eaebcc4.1cd0f4"]]},{"id":"652dc264.f21abc","type":"homekit-service","z":"9c1282fa.96967","isParent":true,"bridge":"2333cc4.c090634","parentService":"","name":"1Lamp4","serviceName":"Lightbulb","topic":"4","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"","x":1040,"y":200,"wires":[["4eaebcc4.1cd0f4"]]},{"id":"dd59c849.3eaa9","type":"mqtt-broker","z":"","name":"pizeroDNS","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"600","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2333cc4.c090634","type":"homekit-bridge","z":"","bridgeName":"Beleuchtung","pinCode":"111-11-116","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true}]
